In [96]:
# import libraries
import pandas as pd
import numpy as np

In [97]:
# import the table into pandas dataframe
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dataframe  = pd.read_html(url)
dataframe = dataframe[0]

In [98]:
# check the dataframe's size
dataframe.shape

(288, 3)

In [99]:
# quick view to check if we're going well
dataframe.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

In [117]:
# use groupby function to merge Postcode and Borough columns and then 
# conbine the Neighbourhood values separated by ','
data_gb = dataframe.groupby(['Postcode', 'Borough'], sort=False).agg(lambda x: ','.join(x))
data_gb = data_gb.reset_index()
data_gb.head(10)

  Postcode           Borough                    Neighbourhood
0      M1A      Not assigned                     Not assigned
1      M2A      Not assigned                     Not assigned
2      M3A        North York                        Parkwoods
3      M4A        North York                 Victoria Village
4      M5A  Downtown Toronto         Harbourfront,Regent Park
5      M6A        North York  Lawrence Heights,Lawrence Manor
6      M7A      Queen's Park                     Not assigned
7      M8A      Not assigned                     Not assigned
8      M9A         Etobicoke                 Islington Avenue
9      M1B       Scarborough                    Rouge,Malvern

In [118]:
# replace the 'Queen's Park' Neighborhood
# since set_index in pandas has been desprated, so the best practice here is to use #dataframe.at[]=''
data_gb.at[6, 'Neighbourhood']="Queen's Park"

# delete rows related 'Not assigned' 
data = data_gb[data_gb.Borough != 'Not assigned'].reset_index(drop=True)


data.head(12)

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront,Regent Park"
3,M6A,North York,"Lawrence Heights,Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge,Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens,Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson,Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar..."

In [114]:
data.shape

(103, 3)